.navbar
{
    .navContainer
    {
        width: 95%;
        overflow: hidden;
        .navTop
        {
            background-color: rgb(25, 23, 26);
            width: 100%;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding:20px 30px;
            padding-right: 2px;
        }
        .navBottom
        {
            width: 100%;
            color: black;
            display: flex;
            height: 70px;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 89px;

            .navLinks
            {
                text-transform: uppercase;
                display: flex;
                gap: 8px;
            }
            .navButtons
            {
                display: flex;
                gap: 5px;
                align-items: center;
                .btn 
                {
                    background: linear-gradient(to right, #07b061, #45b0ad,#2ea965);

                    color: rgb(247, 241, 241);
                    border-radius: 25px;
                    padding: 6px 15px;
                    text-transform: uppercase;
                    font-size: 14px;

                   
                }
                .search_icon 
                {
                    color: #07b061;
                }
            }
        }
    }
}